<div style="width: auto; margin-left: 230px;" ng-if="vm.spec.schemas.json">
    <div class="schema" ng-repeat="(name, schema) in vm.spec.schemas.json">
        <div class="schema-array" ng-if="schema.type.toLowerCase() === 'array'" ng-init="" ng-include="'schemaArray.html'"></div>
        <div class="schema-object" ng-if="schema.type.toLowerCase() === 'object'" ng-init="properties = schema.properties" ng-include="'object.html'"></div>
        <div class="schema-property" ng-if="schema.type.toLowerCase() !== 'array' && schema.type.toLowerCase() !== 'object' && schema.key" ng-init="" ng-include="'schemaValue.html'"></div>
    </div>
    <!-- <div ng-if="vm.spec.schemas.json" ng-repeat="(name, object) in vm.spec.schemas.json" ng-include="'object.html'"></div> -->
</div>

<script type="text/ng-template" id="schema.html">
    <div class="schema" ng-repeat="(name, schema) in vm.spec.schemas.json">
        <div class="schema-array" ng-if="schema.type.toLowerCase() === 'array'" ng-init="" ng-include="'schemaArray.html'"></div>
        <div class="schema-object" ng-if="schema.type.toLowerCase() === 'object'" ng-init="properties = schema.properties" ng-include="'object.html'"></div>
        <div class="schema-property" ng-if="schema.type.toLowerCase() !== 'array' && schema.type.toLowerCase() !== 'object' && schema.key" ng-init="" ng-include="'schemaValue.html'"></div>
    </div>
</script>

<script type="text/ng-template" id="object.html">
    <span class="schema-object-name" ng-bind="name">InstanceRootResponse</span>
    <span class="schema-object-start">{</span>
        <div class="schema-object-properties">
            <div class="schema-object-property" ng-repeat="property in properties" ng-include="'property.html'"></div>
        </div>
    <span class="schema-object-end">}</span>
</script>

<script type="text/ng-template" id="property.html">
    <span class="schema-property-key" ng-bind="property.key"></span>
    <div class="schema-property-value" ng-include="'schemaPropertyValue.html'"></span>
</script>

<script type="text/ng-template" id="schemaPropertyValue.html">
    <span class="schema-value-type" ng-bind="property.schema.type"></span>
    <span class="schema-value-frequency" ng-bind="property.frequency"></span>
    <div class="schema-value-description" ng-bind="property.description"></span>
</script>