<span ng-if="model.description" ng-bind-html="model.description | markup | addTargetBlank | unsafeHTML"></span>
<span ng-include="'app/directives/schema-extended/details.html'"></span>

<table class="array-items">
    <thead>
        <tr>
            <th>Index</th>
            <th>Value</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="item in model.items" ng-init="showValue = false" class="array-item">
            <td>
                <span ng-bind="item.index"></span>
            </td>
            <td>
                <div hapi-schema-short hapi-scope-model="item.value" hapi-scope-show="showValue"></div>
            </td>
            <td>
                <span ng-bind-html="item.description | markup | addTargetBlank | unsafeHTML"></span>
            </td>
        </tr>
        <tr class="marker-row" ng-if="(showValue && item.value.isExpandable)">
            <td colspan="1"></td>
            <td class="marker"></td>
            <td colspan="1"></td>
        </tr>
        <tr ng-repeat-end ng-if="(showValue && item.value.isExpandable)">
            <td colspan="3">
                <div class="schema-extended" model="item.value" show="showValue"></div>
            </td>
        </tr>
    </tbody>
</table>
