<div ng-switch="vm.appState" ng-class="{'noselect': vm.noselect}">

    <div ng-switch-when="loading" class="loading-container">
        <div class="table">
            <div class="table-cell">
                <img src="assets/img/loader.svg" alt="Loading..." />
            </div>
        </div><!-- .table -->
    </div><!-- .loading-container -->

    <div ng-switch-when="loaded" class="api-container">
        <div hapi-sidebar hapi-scope-vm="vm" />
        <div ng-switch="vm.contentState" class="content">

            <div ng-switch-when="api">
                <div class="content-header1">API</div>
                <div ng-repeat="section in vm.ooSpec.sections" hapi-section hapi-scope-section="section"></div>
            </div>


            <div ng-switch-when="api-section">
                <div hapi-section hapi-scope-section="vm.content.section"></div>
            </div>


            <div ng-switch-when="api-method">
                <div hapi-method hapi-scope-section="vm.content.section" hapi-scope-method="vm.content.method" hapi-scope-collapsible="false"/>
            </div>


            <div ng-switch-when="schemas">
                <div class="content-header1">Schemas</div>
                <div ng-repeat="type in vm.schemaTypes" hapi-schemas-group hapi-scope-vm="vm" hapi-scope-type="type"></div>
            </div>

            <div ng-switch-when="schemas-group">
                <div hapi-schemas-group hapi-scope-vm="vm" hapi-scope-type="vm.content.schemaGroup"></div>
            </div>


            <div ng-switch-when="schemas-schema">
                <div hapi-schemas-schema hapi-scope-tag="vm.content.schemaTag" hapi-scope-schema="vm.content.schema" hapi-scope-collapsible="false"></div>
            </div>

        </div><!-- .content -->
    </div><!-- .api-container -->

    <div ng-switch-when="error" class="error-container">
        <div class="error-message" ng-bind="vm.errorMessage"></div>
        <div class="error-details" ng-bind="vm.errorDetails"></div>
    </div><!-- .error-container -->

</div>
