<table class="parameters">
    <thead>
        <tr>
            <th>Name</th>
            <th>Frequency</th>
            <th>Value</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="parameter in model" ng-init="showName = false; showValue = false" class="parameter">
            <td>
                <div hapi-schema-short hapi-scope-model="parameter.name" hapi-scope-show="showName"></div>
            </td>
            <td>
                <span ng-bind="parameter.frequency"></span>
            </td>
            <td>
                <div hapi-schema-short hapi-scope-model="parameter.value" hapi-scope-show="showValue"></div>
            </td>
            <td>
                <span ng-bind-html="parameter.description | markup | addTargetBlank | unsafeHTML"></span>
            </td>
        </tr>
        <tr class="marker-row" ng-if="(showName && parameter.name.isExpandable)">
            <td class="marker"></td>
            <td colspan="3"></td>
        </tr>
        <tr ng-if="(showName && parameter.name.isExpandable)">
            <td colspan="4">
                <div class="schema-extended" model="parameter.name" show="showName"></div>
            </td>
        </tr>
        <tr class="marker-row" ng-if="(showValue && parameter.value.isExpandable)">
            <td colspan="2"></td>
            <td class="marker"></td>
            <td></td>
        </tr>
        <tr ng-repeat-end ng-if="(showValue && parameter.value.isExpandable)">
            <td colspan="4">
                <div class="schema-extended" model="parameter.value" show="showValue"></div>
            </td>
        </tr>
    </tbody>
</table>
