<div class="method {{'method-' + method.method.toLowerCase()}}" ng-init="show = false" ng-attr-id="{{['api', section.name, method.tag] | escapeID}}">
    <div class="toggle-header method-header" ng-click="show = !show">
        <div class="toggle-header-title">
            <div class="monospace-text method-method-location">
                <span class="method-method" ng-bind="method.method"></span>
                <span class="method-location" ng-bind="method.location" ng-class="{'is-symbolic': method.location_type.toLowerCase() === 'symbolic'}"></span>
            </div>
        </div><!-- .toggle-header-title -->
        <div class="toggle-header-subtitle method-summary" ng-if="method.summary" ng-bind="method.summary"></div>
    </div><!-- .method-header -->
    <div class="toggle-content method-body" ng-show="show">
        <div ng-if="method.description">
            <div class="label">Description</div>
            <p class="description method-description" ng-bind-html="method.description | hapiMarkdown"></p>
        </div>
        <div class="requests">
            <div class="label">Request</div>
            <div class="request no-request-params" ng-if="isEmpty">None</div>
            <div class="requests-content" ng-if="!isEmpty">
                <div class="request">
                    <div ng-repeat="pltype in requestParameterListTypes" ng-if="method.request.hasOwnProperty(pltype)" ng-init="pl = method.request[pltype]">
                        <div class="label method-sub-label" ng-bind="pltype"></div>
                        <div hapi-parameter-list hapi-scope-model="pl"></div>
                    </div>
                    <div ng-if="method.request.body && method.request.body.length !== 0">
                        <div class="label method-sub-label">body</div>
                        <div class="body-list">
                            <div ng-repeat="body in method.request.body" hapi-body hapi-scope-body="body"></div>
                        </div>
                    </div>
                </div>
            </div><!-- .requests-content -->
        </div><!-- .requests -->
        <div class="responses" ng-if="method.response && method.response.length">
            <div class="label">Responses</div>
            <ul class="toggle-tabs">
                <li class="toggle-tab" ng-repeat="response in method.response track by $index" ng-click="select($index)" ng-class="{'selected': selected === $index}" ng-bind="response.name || response.statusMessage || response.statusCode"></li>
            </ul>
            <div class="response" hapi-response hapi-scope-response="method.response[selected]" /><!-- .response -->
        </div><!-- .responses -->
    </div><!-- .method-body -->
</div><!-- .method -->
