<div class="method {{'method-' + method.method.toLowerCase()}}" ng-init="show = false" ng-attr-id="{{['api', section.name, method.tag] | escapeID}}">
    <div class="toggle-header method-header" ng-click="show = !show">
        <div class="toggle-header-title">
            <div class="monospace-text method-method-location">
                <span class="method-method" ng-bind="method.method"></span>
                <span class="method-location" ng-bind="method.location" ng-class="{'is-symbolic': method.location_type.toLowerCase() === 'symbolic'}"></span>
            </div>
        </div><!-- .toggle-header-title -->
        <div class="toggle-header-subtitle method-summary" ng-if="method.summary" ng-bind="method.summary"></div>
    </div><!-- .method-header -->
    <div class="toggle-content method-body" ng-show="show">
        <div class="method-l1" ng-if="method.description">
            <div class="method-l1-label">Description</div>
            <div class="method-l1-body description method-description" ng-bind-html="method.description | hapiMarkdown"/>
        </div>
        <div class="method-l1 requests" ng-if="!isEmpty">
            <div class="method-l1-label">Request</div>
            <div class="method-l1-body">
                <div class="requests-content">
                    <div class="method-l2" ng-repeat="pltype in requestParameterListTypes" ng-if="method.request.hasOwnProperty(pltype)" ng-init="pl = method.request[pltype]">
                        <div class="method-l2-label" ng-bind="pltype"></div>
                        <div class="method-l2-body" hapi-parameter-list hapi-scope-model="pl"></div>
                    </div>
                    <div class="method-l2" hapi-body-list hapi-scope-body-list="method.request.body" />
                </div><!-- .requests-content -->
            </div>
        </div><!-- .requests -->
        <div class="method-l1 responses" ng-if="method.response && method.response.length">
            <div class="method-l1-label">Responses</div>
            <div class="method-l1-body">
                <ul class="toggle-tabs">
                    <li class="toggle-tab" ng-repeat="response in method.response track by $index" ng-click="select($index)" ng-class="{'selected': selected === $index}" ng-bind="response.name || response.statusMessage || response.statusCode"></li>
                </ul>
                <div class="response" hapi-response hapi-scope-response="method.response[selected]" /><!-- .response -->
            </div>
        </div><!-- .responses -->
    </div><!-- .method-body -->
</div><!-- .method -->
