<div class="method {{'method-' + method.method.toLowerCase()}}" ng-init="show = false" ng-attr-id="{{['api', section.name, method.tag] | escapeID}}">
    <div class="toggle-header method-header" ng-click="show = !show">
        <div class="toggle-header-title">
            <div class="monospace-text method-method-location">
                <span class="method-method" ng-bind="method.method"></span>
                <span class="method-location" ng-bind="method.location" ng-class="{'is-symbolic': method.location_type.toLowerCase() === 'symbolic'}"></span>
            </div>
        </div><!-- .toggle-header-title -->
        <div class="toggle-header-subtitle method-summary" ng-if="method.summary" ng-bind="method.summary"></div>
    </div><!-- .method-header -->
    <div class="method-body" ng-show="show">
        <div class="method-l1" ng-if="method.description">
            <div class="method-l1-label">Description</div>
            <div class="method-l1-body description method-description" ng-bind-html="method.description | hapiMarkdown"/>
        </div>
        <div class="method-l1 requests" ng-if="!isEmpty">
            <div class="method-l1-label">Request</div>
            <div class="method-l1-body">
                <div class="requests-content">
                    <div class="method-l2" ng-repeat="pltype in requestParameterListTypes" ng-if="method.request.hasOwnProperty(pltype)" ng-init="pl = method.request[pltype]">
                        <div class="method-l2-label" ng-bind="pltype"></div>
                        <div class="method-l2-body" hapi-parameter-list hapi-scope-model="pl"></div>
                    </div>
                    <div class="method-l2 body-list" ng-if="method.request.body && method.request.body.length">
                        <div class="method-l2-label">Body</div>
                        <div class="method-l2-body">
                            <ul class="toggle-tabs">
                                <li class="toggle-tab" ng-repeat="body in method.request.body track by $index" ng-click="selectA($index)" ng-class="{'selected': selectedA === $index}" ng-bind="body.contentType"></li>
                            </ul>
                            <div class="tab-page" hapi-body hapi-scope-body="method.request.body[selectedA]"></div>
                        </div>
                    </div><!-- .body-list -->
                </div><!-- .requests-content -->
            </div>
        </div><!-- .requests -->
        <div class="method-l1 responses" ng-if="method.response && method.response.length">
            <div class="method-l1-label">Responses</div>
            <div class="method-l1-body">
                <ul class="toggle-tabs">
                    <li class="toggle-tab" ng-repeat="response in method.response track by $index" ng-click="selectB($index)" ng-class="{'selected': selectedB === $index}" ng-bind="response.name || response.statusMessage || response.statusCode"></li>
                </ul>
                <div class="tab-page" hapi-response hapi-scope-response="method.response[selectedB]" />
            </div>
        </div><!-- .responses -->
    </div><!-- .method-body -->
</div><!-- .method -->
