<span ng-include="'app/shared/schema-extended/details.html'"></span>

<table class="object-properties">
    <thead>
        <tr>
            <th>Key</th>
            <th>Frequency</th>
            <th>Value</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="property in model.properties" ng-init="showKey = false; showValue = false" class="object-property">
            <td>
                <div class="schema-short" model="property.key" show="showKey"></div>
            </td>
            <td>
                <span ng-bind="property.frequency"></span>
            </td>
            <td>
                <div class="schema-short" model="property.value" show="showValue"></div>
            </td>
            <td>
                <span ng-bind-html="property.description | markup | addTargetBlank | unsafeHTML"></span>
            </td>
        </tr>
        <tr class="marker-row" ng-if="(showKey && property.key.isExpandable)">
            <td class="marker"></td>
            <td colspan="3"></td>
        </tr>
        <tr ng-if="(showKey && property.key.isExpandable)">
            <td colspan="4">
                <div class="schema-extended" model="property.key" show="showKey"></div>
            </td>
        </tr>
        <tr class="marker-row" ng-if="(showValue && property.value.isExpandable)">
            <td colspan="2"></td>
            <td class="marker"></td>
            <td></td>
        </tr>
        <tr ng-repeat-end ng-if="(showValue && property.value.isExpandable)">
            <td colspan="4">
                <div class="schema-extended" model="property.value" show="showValue"></div>
            </td>
        </tr>
    </tbody>
</table>
