<div ng-class="{loading: vm.loading}">
  <div class="header"></div>
  <div class="loading-container">
    <div class="table">
      <div class="table-cell">
        <img src="/assets/img/loader.svg" alt="Loading..." />
      </div>
    </div><!-- .table -->
  </div><!-- .loading-container -->
  <div class="api-container">
    <div class="navigation-outer">
      <div class="navigation-inner">
        <select class="api-selector" ng-options="spec.path as spec.name for spec in vm.specList" ng-model="vm.specUrl">
          <option>Select an API</option>
        </select>
        <div class="navigation-menu">
          <ul class="navigation-sections">
            <li class="navigation-section" ng-repeat="section in vm.spec.sections">
              <div ng-bind="section.name" ng-click="vm.scrollToMethod(section)"></div>
              <ul class="navigation-methods" ng-if="section.methods && section.methods.length">
                <li class="navigation-method" ng-repeat="method in section.methods">
                  <div ng-click="vm.scrollToMethod(section, vm.spec.methods[method])">
                    <span class="{{'method-' + vm.spec.methods[method].method.toLowerCase() + '-label'}}" ng-bind="vm.spec.methods[method].method"></span>
                    <span ng-bind="vm.spec.methods[method].location" ng-class="{'is-symbolic': vm.spec.methods[method].location_type.toLowerCase() === 'symbolic'}"></span>
                  </div>
                </li><!-- .navigation-method -->
              </ul><!-- .navigation-methods -->
            </li><!-- .navigation-section -->
          </ul><!-- .navigation-sections -->
          <ul ng-if="vm.spec.schemas.hasSchemas()">
            <li>
              <div ng-click="vm.scrollToSchema()">Schemas</div>
              <div ng-repeat="type in vm.spec.schemas.types()">
                <div class="label" ng-bind="type"></div>
                <ul class="navigation-schemas">
                  <li class="navigation-schema" ng-repeat="(name, schema) in vm.spec.schemas.byType(type)">
                    <div ng-bind="name" ng-click="vm.scrollToSchema(name)"></div>
                  </li>
                </ul><!-- .navigation-schemas -->
              </div>
            </li>
          </ul>
        </div><!-- .navigation-menu -->
      </div><!-- .navigation-inner -->
    </div><!-- .navigation-outer -->
    <div class="sections">
      <div class="section" ng-repeat="section in vm.ooSpec.sections" ng-init="show = true">
        <div class="toggle-header section-header" ng-click="show = !show" ng-attr-id="{{vm.slugify(section.name)}}">
          <div class="toggle-header-title section-name" ng-bind="section.name"></div>
          <div class="toggle-header-subtitle section-summary" ng-if="section.summary" ng-bind="section.summary"></div>
        </div>
        <div class="toggle-content section-body" ng-show="show">
          <div ng-if="section.description">
            <div class="label">Description</div>
            <p class="description section-description" ng-bind-html="section.description | markup | addTargetBlank | unsafeHTML"></p>
          </div>
          <div class="methods">
            <div class="method {{'method-' + method.method.toLowerCase()}}" ng-repeat="method in section.methods" ng-init="show = true" ng-attr-id="{{vm.slugify(section.name + '-' + method.method + ' ' + method.location)}}">
              <div class="toggle-header method-header" ng-click="show = !show">
                <div class="toggle-header-title">
                  <div class="monospace-text method-method-location">
                    <span class="method-method" ng-bind="method.method"></span>
                    <span class="method-location" ng-bind="method.location" ng-class="{'is-symbolic': method.location_type.toLowerCase() === 'symbolic'}"></span>
                  </div>
                </div><!-- .toggle-header-title -->
                <div class="toggle-header-subtitle method-summary" ng-if="method.summary" ng-bind="method.summary"></div>
              </div><!-- .method-header -->
              <div class="toggle-content method-body" ng-show="show">
                <div ng-if="method.description">
                  <div class="label">Description</div>
                  <p class="description method-description" ng-bind-html="method.description | markup | addTargetBlank | unsafeHTML"></p>
                </div>
                <div class="requests">
                  <div class="label">Request</div>
                  <div class="request no-request-params" ng-if="vm.isEmptyObject(method.request)">None</div>
                  <div class="requests-content" ng-if="!vm.isEmptyObject(method.request)">
                    <div class="request" ng-repeat="(requestType, requestParameterList) in method.request"> <!-- ng-hide="requestParameterList.__hide" -->
                      <div class="label method-sub-label" ng-bind="requestType"></div>
                      <parameter-list model="requestParameterList"></parameter-list>
                      <div class="body-list" ng-if="vm.isBodyList(requestType)">
                        <div class="body" ng-repeat="body in requestParameterList track by $index" ng-include="'/app/body.html'"></div>
                      </div>
                    </div><!-- .request -->
                  </div><!-- .requests-content -->
                </div><!-- .requests -->
                <div class="responses">
                  <div class="label">Responses</div>
                  <ul class="toggle-tabs" ng-if="method.response && method.response.length">
                    <li class="toggle-tab" ng-repeat="response in method.response" ng-click="vm.toggleResponse(method.response, response)" ng-class="{'selected': !response.__hide}" ng-init="vm.toggleFirstResponse($index, method.response, response)" ng-bind="response.name || response.statusMessage || response.statusCode"></li>
                  </ul>
                  <div class="response" ng-repeat="response in method.response" ng-hide="response.__hide">
                    <div ng-if="response.description">
                      <div class="label method-sub-label">Description</div>
                      <p class="description response-description" ng-bind-html="response.description | markup | addTargetBlank | unsafeHTML"></p>
                    </div>
                    <div>
                      <div class="label method-sub-label">Status</div>
                      <p class="description response-status">
                        <span ng-bind="response.statusCode"></span>
                        <span ng-bind="response.statusMessage"></span>
                      </p>
                    </div>
                    <div ng-if="response.header">
                      <div class="label method-sub-label">Header</div>
                      <parameter-list model="response.header"></parameter-list>
                    </div>
                    <div ng-if="response.body">
                      <div class="label method-sub-label">Body</div>
                      <div class="body-list">
                        <div class="body" ng-repeat="body in response.body track by $index" ng-include="'/app/body.html'"></div>
                      </div><!-- .body-list -->
                    </div>
                  </div><!-- .response -->
                </div><!-- .responses -->
              </div><!-- .method-body -->
            </div><!-- .method -->
          </div><!-- .methods -->
        </div><!-- .section-body -->
      </div><!-- .section -->
    </div><!-- .sections -->
    <div class="schemas" ng-if="vm.spec.schemas.hasSchemas()">
      <div class="toggle-header schemas-header" id="schemas" ng-click="vm.hideSchemas = !vm.hideSchemas">
        <div class="toggle-header-title">Schemas</div>
      </div>
      <div class="schemas-body" ng-if="vm.spec.schemas.hasSchemas()" ng-hide="vm.hideSchemas">
        <div ng-repeat="type in vm.spec.schemas.types()">
          <div class="label" ng-bind="type"></div>
          <div class="method"
               ng-repeat="schema in vm.spec.schemas.byType(type)"
               ng-attr-id="{{'schema-' + vm.slugify(schema.name)}}">
            <div>
              <div class="monospace-text x-parameter-name">
                <div class="expandable key"  ng-class="{'collapsed': !schema.__show}" ng-click="schema.__show = !schema.__show">
                  <span ng-bind="schema.name"></span>
                </div>
              </div>
            </div>
            <div ng-show="schema.__show">
              <div class="property-key extended-representation" ng-include="'/app/properties.html'" onload="properties = schema.definition"></div>
            </div>
          </div>
        </div>

        <!-- JSON Schema definition section -->
        <div class="label">JSON</div>
        <div ng-repeat="(tag, schema) in vm.ooSpec.schemas.json" ng-init="show = false" style="border: 1px solid #000">

          <span ng-class="{'expanded': show, 'collapsed': !show}" class="expandable jsname" ng-click="show = !show" ng-bind="tag"></span>
          <div ng-if="show">
            <span ng-init="showInner = false">
              <schema-short model="schema" show="showInner"></schema-short>
              <schema-extended model="schema" show="showInner"></schema-extended>
            </span>
          </div>

        </div>

        <!-- String Schema definition section -->
        <div class="label">String</div>
        <div ng-repeat="(tag, schema) in vm.ooSpec.schemas.string" ng-init="show = false" style="border: 1px solid #000">

          <span ng-class="{'expanded': show, 'collapsed': !show}" class="expandable ssname" ng-click="show = !show" ng-bind="tag"></span>
          <div ng-if="show">
            <span ng-init="showInner = false">
              <schema-short model="schema" show="showInner"></schema-short>
              <schema-extended model="schema" show="showInner"></schema-extended>
            </span>
          </div>

        </div>

      </div><!-- .schemas-body -->
    </div><!-- .schemas -->
  </div><!-- .container -->
</div>
