<div ng-class="{loading: vm.loading}">
  <div class="header"></div>
  <div class="loading-container">
    <div class="table">
      <div class="table-cell">
        <img src="assets/img/loader.svg" alt="Loading..." />
      </div>
    </div><!-- .table -->
  </div><!-- .loading-container -->
  <div class="api-container">
    <div class="navigation-outer">
      <div class="navigation-inner">
        <select class="api-selector" ng-options="spec.path as spec.name for spec in vm.specList" ng-model="vm.specUrl">
          <option>Select an API</option>
        </select>
        <div class="navigation-menu">
          <ul>
            <li>
              <span class="menu-header1" ng-click="vm.scrollTo('api')">API</span>
              <ul>
                <li ng-repeat="section in vm.ooSpec.sections">
                  <span class="menu-header2" ng-click="vm.scrollTo('api', section.name)" ng-bind="section.name"></span>
                  <ul ng-if="section.methods && section.methods.length">
                    <li class="menu-entry" ng-repeat="method in section.methods" ng-click="vm.scrollTo('api', section.name, method.tag)">
                      <span ng-bind="method.method"></span>
                      <span ng-bind="method.location" ng-class="{'is-symbolic': method.location_type.toLowerCase() === 'symbolic'}"></span>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <span class="menu-header1" ng-click="vm.scrollTo('schema')">Schemas</span>
              <ul>
                <li ng-repeat="type in vm.schemaTypes">
                    <span class="menu-header2" ng-bind="type" ng-click="vm.scrollTo('schema', type)"></span>
                    <ul ng-if="vm.ooSpec.schemaTags[type] && vm.ooSpec.schemaTags[type].length">
                      <li class="menu-entry" ng-repeat="tag in vm.ooSpec.schemaTags[type]" ng-click="vm.scrollTo('schema', type, tag)">
                        <span ng-bind="tag"></span>
                      </li>
                    </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- .navigation-menu -->
      </div><!-- .navigation-inner -->
    </div><!-- .navigation-outer -->
    <div class="content">
      <div class="content-header1" ng-attr-id="{{['api'] | escapeID}}">API</div>
      <div ng-repeat-start="section in vm.ooSpec.sections" class="content-header2" ng-init="show = true" ng-click="show = !show" ng-attr-id="{{['api', section.name] | escapeID}}">
        <span ng-bind="section.name"></span>
        <span ng-if="section.summary" class="content-header2-summary" ng-bind="section.summary"></span>
      </div>
      <div ng-repeat-end class="section-container">
        <div class="toggle-content section-body" ng-show="show">
          <div ng-if="section.description">
            <div class="label">Description</div>
            <p class="description section-description" ng-bind-html="section.description | markup | addTargetBlank | unsafeHTML"></p>
          </div>
          <div class="methods">
            <div class="method {{'method-' + method.method.toLowerCase()}}" ng-repeat="method in section.methods" ng-init="show = true" ng-attr-id="{{['api', section.name, method.tag] | escapeID}}">
              <div class="toggle-header method-header" ng-click="show = !show">
                <div class="toggle-header-title">
                  <div class="monospace-text method-method-location">
                    <span class="method-method" ng-bind="method.method"></span>
                    <span class="method-location" ng-bind="method.location" ng-class="{'is-symbolic': method.location_type.toLowerCase() === 'symbolic'}"></span>
                  </div>
                </div><!-- .toggle-header-title -->
                <div class="toggle-header-subtitle method-summary" ng-if="method.summary" ng-bind="method.summary"></div>
              </div><!-- .method-header -->
              <div class="toggle-content method-body" ng-show="show">
                <div ng-if="method.description">
                  <div class="label">Description</div>
                  <p class="description method-description" ng-bind-html="method.description | markup | addTargetBlank | unsafeHTML"></p>
                </div>
                <div class="requests">
                  <div class="label">Request</div>
                  <div class="request no-request-params" ng-if="vm.isEmptyObject(method.request)">None</div>
                  <div class="requests-content" ng-if="!vm.isEmptyObject(method.request)">
                    <div class="request">
                      <div ng-repeat="pltype in vm.requestParameterListTypes" ng-if="method.request.hasOwnProperty(pltype)" ng-init="pl = method.request[pltype]">
                        <div class="label method-sub-label" ng-bind="pltype"></div>
                        <parameter-list model="pl"></parameter-list>
                      </div>
                      <div ng-if="method.request.body && method.request.body.length !== 0">
                        <div class="label method-sub-label">body</div>
                        <div class="body-list">
                          <div class="body" ng-repeat="body in method.request.body" ng-include="'app/body.html'"></div>
                        </div>
                      </div>
                    </div>
                  </div><!-- .requests-content -->
                </div><!-- .requests -->
                <div class="responses">
                  <div class="label">Responses</div>
                  <ul class="toggle-tabs" ng-if="method.response && method.response.length">
                    <li class="toggle-tab" ng-repeat="response in method.response" ng-click="vm.toggleResponse(method.response, response)" ng-class="{'selected': !response.__hide}" ng-init="vm.toggleFirstResponse($index, method.response, response)" ng-bind="response.name || response.statusMessage || response.statusCode"></li>
                  </ul>
                  <div class="response" ng-repeat="response in method.response" ng-hide="response.__hide">
                    <div ng-if="response.description">
                      <div class="label method-sub-label">Description</div>
                      <p class="description response-description" ng-bind-html="response.description | markup | addTargetBlank | unsafeHTML"></p>
                    </div>
                    <div>
                      <div class="label method-sub-label">Status</div>
                      <p class="description response-status">
                        <span ng-bind="response.statusCode"></span>
                        <span ng-bind="response.statusMessage"></span>
                      </p>
                    </div>
                    <div ng-if="response.header">
                      <div class="label method-sub-label">Header</div>
                      <parameter-list model="response.header"></parameter-list>
                    </div>
                    <div ng-if="response.body">
                      <div class="label method-sub-label">Body</div>
                      <div class="body-list">
                        <div class="body" ng-repeat="body in response.body track by $index" ng-include="'app/body.html'"></div>
                      </div><!-- .body-list -->
                    </div>
                  </div><!-- .response -->
                </div><!-- .responses -->
              </div><!-- .method-body -->
            </div><!-- .method -->
          </div><!-- .methods -->
        </div><!-- .section-body -->
      </div><!-- .section -->
      <div class="content-header1" ng-attr-id="{{['schema'] | escapeID}}">Schemas</div>
      <div ng-repeat-start="type in vm.schemaTypes" class="content-header2" ng-attr-id="{{['schema', type] | escapeID}}" ng-bind="type"></div>
      <div ng-repeat-end class="schema-container" ng-repeat="tag in vm.ooSpec.schemaTags[type]" ng-init="show = false; schema = vm.ooSpec.schemas[type][tag]">
        <span ng-class="{'header-expanded': show, 'header-collapsed': !show}" ng-click="show = !show" ng-attr-id="{{['schema', type, tag] | escapeID}}" ng-bind="tag"></span>
        <div ng-if="show">
          <span ng-init="showInner = false">
            <schema-short model="schema" show="showInner"></schema-short>
            <schema-extended model="schema" show="showInner"></schema-extended>
          </span>
        </div>
      </div>
    </div>
  </div><!-- .container -->
</div>
