      <tr ng-repeat-start="parameter in parameters" class="parameter">
        <td class="parameter-property" ng-repeat="field in fields">
          <div ng-class="{'key': vm.isSchemaRef(parameter[field]), 'expandable': vm.hasExpandable(parameter) && field === fields[0], 'collapsed': !parameter.__show}" ng-click="vm.toggle(parameter)">
            <span ng-class="{'jsprimitive': vm.isJSPrimitive('arrayItem', field, parameter[field]), 'jsreference': vm.isJSReference('arrayItem', field, parameter[field]), 'ssreference': vm.isSSReference('arrayItem', field, parameter[field]), 'ssliteral': vm.isSSLiteral('arrayItem', field, parameter[field])}" ng-bind="vm.arrayItemText(parameter[field], field)"></span>
          </div>
        </td>
      </tr>
      <tr ng-repeat-end ng-repeat="field in fields" ng-if="vm.isExpandable(parameter[field])" ng-show="parameter.__show">
        <td colspan="999">
          <div class="property-{{ field }} extended-representation">
            <div ng-if="parameter.__show && vm.isSchemaRef(parameter[field])" ng-include="'/app/properties.html'" onload="properties = vm.spec.schemas.find(parameter[field].ref).definition"></div>
            <div ng-if="parameter.__show && !vm.isSchemaRef(parameter[field])" ng-include="'/app/properties.html'" onload="properties = parameter[field]"></div>
          </div>
        </td>
      </tr>
