<p class="description body-content-type" ng-if="body.contentType">
    <span class="body-content-type-label">Content Type:</span>
    <span class="body-content-type-value" ng-bind="body.contentType"></span>
</p>
<div ng-if="body.type === 'json'" ng-init="showInner = true">
    <schema-short model="body._schema" show="showInner"></schema-short>
    <schema-extended model="body._schema" show="showInner"></schema-extended>
</div>
<parameter-list ng-if="body.type === 'form'" model="body._parameters"></parameter-list>
