<div class="property" ng-if="vm.isString(properties)" ng-class="key" ng-bind="properties"></div>
<div class="property" ng-if="!vm.isString(properties) && !vm.isEmptyObject(properties) && !vm.isSchemaRef(properties)" ng-repeat="(key, value) in properties track by $index" ng-class="key" ng-click="property.__show = !property.__show">
  <div ng-if="key === 'criteria'" ng-include="'/app/criteria.html'" onload="criteria = value" include-replace></div>
  <div ng-if="key === 'examples'" ng-include="'/app/examples.html'" onload="examples = value" include-replace></div>

  <div ng-if="key !== 'criteria' && key !== 'examples' && key !== 'items' && key !== 'properties' && !vm.isSchemaRef(value)">
    <div class="key" ng-if="key !== 'type' && key !== 'format'">
      <span ng-bind="key"></span>
    </div>
    <div class="value" ng-class="{'properties': vm.isExpandable(value)}">
      <div ng-if="vm.isExpandable(value)" ng-include="'/app/properties.html'" onload="properties = value"></div>
      <span ng-if="!vm.isExpandable(value)" ng-class="{'type': key === 'type'}" ng-bind="value"></span>
    </div>
  </div>

  <div ng-if="vm.isSchemaRef(value)">
    <div class="expandable key" ng-class="{'collapsed': !value.__show}" ng-click="vm.toggle(value)">
      <span ng-bind="value.ref"></span>
    </div>

    <div class="property-key extended-representation" ng-if="value.__show">
      <div ng-include="'/app/properties.html'" onload="properties = vm.spec.schemas.find(value.ref).definition"></div>
    </div>
  </div>

  <table class="parameter-list" ng-if="key === 'items'" ng-init="fields = ['index', 'value', 'description']">
    <thead ng-include="'/app/parameterTableHead.html'" onload="headers = fields"></thead>
    <tbody ng-include="'/app/array_items.html'" onload="parameters = value">
    </tbody>
  </table>

  <table class="parameter-list" ng-if="key === 'properties'" ng-init="fields = ['key', 'frequency', 'value', 'description']">
    <thead ng-include="'/app/parameterTableHead.html'" ng-init="headers = fields"></thead>
    <tbody ng-include="'/app/object_properties.html'" ng-init="parameters = value">
    </tbody>
  </table><!-- .parameter-list -->
</div>

<div ng-if="vm.isSchemaRef(properties)">
  <div class="expandable key" ng-class="{'collapsed': !properties.__show}" ng-click="vm.toggle(properties)">
    <span ng-bind="properties.ref"></span>
  </div>

  <div class="property-key extended-representation" ng-if="properties.__show">
    <div ng-include="'/app/properties.html'" onload="properties = vm.spec.schemas.find(properties.ref).definition"></div>
  </div>
</div>

<div class="property" ng-if="vm.isEmptyObject(properties)" ng-class="key">
  <span style="font-style: italic;">Empty object</span>
</div>
