<div class="clickable content-header2" ng-init="show = true" ng-click="show = !show" ng-attr-id="{{['api', section.index] | escapeID}}">
    <span ng-bind="section.name"></span>
    <span ng-if="section.summary" class="content-header2-summary" ng-bind="section.summary"></span>
</div>
<div class="section-container">
    <div class="section-body" ng-show="show">
        <div ng-if="section.description">
            <div class="section-l1-label">Description</div>
            <div class="section-l1-body description" ng-bind-html="section.description | hapiMarkdown"></div>
        </div>
        <div ng-repeat="method in section.methods" hapi-method hapi-scope-section="section" hapi-scope-method="method" hapi-scope-collapsible="true"/>
    </div><!-- .section-body -->
</div><!-- .section-container -->
