<div class="content-header2" ng-init="show = true" ng-click="show = !show" ng-attr-id="{{['api', section.name] | escapeID}}">
    <span ng-bind="section.name"></span>
    <span ng-if="section.summary" class="content-header2-summary" ng-bind="section.summary"></span>
</div>
<div class="section-container">
    <div class="toggle-content section-body" ng-show="show">
        <div ng-if="section.description">
            <div class="label">Description</div>
            <p class="description section-description" ng-bind-html="section.description | markup | addTargetBlank | unsafeHTML"></p>
        </div>
        <div class="methods" ng-repeat="method in section.methods" hapi-method hapi-scope-section="section" hapi-scope-method="method">
        </div><!-- .methods -->
    </div><!-- .section-body -->
</div><!-- .section-container -->
