/* Reset */
[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body,
.ui-view {
    height: 100%;
}
html {
    font-family: "Ubuntu", "Open Sans", sans-serif, arial;
    font-size: 14px;
    font-weight: 400;
    color: #434A54;
}
body {
    margin: 0;
}
body:after {
    content: "";
    display: table;
    clear: both;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px;
}
table {
    width: 100%;
}

/* Global */
.loading,
.loading-container {
    height: 100%;
}
.loading-container {
    display: none;
    width: 100%;
    height: 100%;
}
.loading .loading-container {
    display: table;
}
.loading .api-container {
    display: none;
}
.monospace-text {
    font-family: "Ubuntu Mono", monospace;
}
.table,
.table-cell {
    width: 100%;
    height: 100%;
}
.table {
    display: table;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.toggle-header {
    display: table;
    width: 100%;
    cursor: pointer;
}
.toggle-header-title,
.toggle-header-subtitle {
    display: table-cell;
}
.toggle-header-subtitle {
    text-align: right;
}
.toggle-content {
    padding-bottom: 8px;
}
.label {
    margin: 8px 0 4px;
    text-transform: uppercase;
    color: #888;
}
.toggle-tabs {
    list-style-type: none;
    padding: 0 0 0 5px;
    margin: 0;
    border-bottom: 1px solid #DDD;
}
.toggle-tabs:after {
    content: "";
    display: table;
    clear: both;
}
.toggle-tab {
    position: relative;
    float: left;
    padding: 5px 10px;
    margin-left: 5px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    background-color: #F8F8F8;
    border-color: #DDD;
    border-bottom-color: #FFF;
    font-size: 13px;
    font-variant: small-caps;
    cursor: pointer;
}
.toggle-tab:hover,
.toggle-tab.selected {
    background-color: #FFF;
}
.toggle-tab.selected {
    font-weight: 600;
    cursor: default;
}
.toggle-tab.selected:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #FFF;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #888;
    z-index: 2;
}
.api-container {
    width: 100%;
    min-width: 768px;
    padding: 20px;
}

/* Navigation */
.navigation-outer,
.navigation-inner {
    width: 200px;
}
.navigation-outer {
    float: left;
}
.navigation-inner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    padding: 20px;
    background-color: #4A4A4A;
    z-index: 1;
}
.api-selector {
    margin-bottom: 30px;
}
.api-selector {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.navigation-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #D9D9D9;
}
.navigation-menu > ul > li {
    margin-bottom: 24px;
}
.navigation-menu ul ul li {
    padding-left: 12px;
    margin-bottom: 4px;
}
.navigation-menu li {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.menu-header1,
.menu-header2,
.menu-entry {
    cursor: pointer;
}
.menu-header1:hover,
.menu-header2:hover,
.menu-entry:hover {
    color: #FFF;
}
.menu-header1,
.menu-header2 {
    display: block; /* TODO: Remove */
}
.menu-header1 {
    margin-bottom: 8px;
    text-transform: uppercase;
}
.menu-header2 {
    margin-bottom: 4px;
    font-variant: small-caps;
}
.content {
    width: auto;
    margin-left: 200px;
}

/* Content Headers */
.content-header1 {
    font-size: 24px;
    font-weight: bold;
}
.content-header2,
.content-header2-summary {
}
.content-header2 {
    border-bottom: 1px solid #DDD;
    padding: 4px 0;
    font-size: 20px;
}
.content-header2-summary {
    float: right;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
}
.section-container + .content-header1 {
    margin-top: 24px;
}
.content-header2 + .schema-container {
    margin-top: 8px;
}

/* Sections */
.section-body {
    margin-bottom: 12px;
}
.section-description {
    margin-bottom: 8px;
}

/* Method */
.method {
    margin-top: 4px;
    border: 1px solid #888;
}
.method-header {
    background-color: #F8F8F8;
}
.method-method-location {
    display: inline-block;
    padding: 6px 4px;
    background-color: #888;
    color: #FFF;
}
.method-summary {
    padding-right: 4px;
}
.method-body {
    padding: 0 4px 4px;
}
.method .schema {
    margin: 0;
}

/* Method - GET */
.method-get {
    border-color: #2392F7;
}
.method-get .method-header {
    background-color: #E8F3FE;
}
.method-get .method-method-location {
    background-color: #2392F7;
}
.method-get .label {
    color: #2392F7;
}

/* Method - DELETE */
.method-delete {
    border-color: #A41E22;
}
.method-delete .method-header {
    background-color: #F5E8E8;
}
.method-delete .method-method-location {
    background-color: #A41E22;
}
.method-delete .label {
    color: #A41E22;
}

/* Method - POST */
.method-post {
    border-color: #10A54A;
}
.method-post .method-header {
    background-color: #E7F6EC;
}
.method-post .method-method-location {
    background-color: #10A54A;
}
.method-post .label {
    color: #10A54A;
}

/* Method - PUT/PATCH */
.method-put,
.method-patch {
    border-color: #C5862B;
}
.method-put .method-header,
.method-patch .method-header {
    background-color: #F9F2E9;
}
.method-put .method-method-location,
.method-patch .method-method-location {
    background-color: #C5862B;
}
.method-put .label,
.method-patch .label {
    color: #C5862B;
}

/* Request/Response */
.requests-content,
.response {
    padding: 10px;
    border: 1px solid #DDD;
}
.response {
    border-top-width: 0;
}
.response .description {
    margin-bottom: 0;
}
.body-content-type-label {
    font-size: 15px;
    font-weight: 600;
}
.method-sub-label {
    margin-top: 0;
    color: #888 !important;
}
div + div > .method-sub-label,
.request + .request {
    margin-top: 24px;
}

/* Parameter Table */
.examples {
    font-size: 14px;
}
.list-container:before {
    font-weight: 600;
}
.list-container li {
    word-wrap: break-word;
}
.property.criteria, .property.examples {
    display: inline-block;
    width: 50%;
}
.list-container.criteria:before {
    content: "Criteria";
}
.list-container.examples:before {
    content: "Examples";
}

/* Schemas */
.schema-container {
    border: 1px solid #CCC;
    margin-bottom: 4px;
    background-color: #F8F8F8;
}
.schema-container > span,
.schema-container > div {
    padding: 4px;
}
.schema-container > span {
    display: inline-block;
    cursor: pointer;
}
.schema-container > div {
    background-color: #FFF;
    border-top: 1px solid #DDD;
}
.expanded,
.collapsed {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 1em;
}
.expanded:before,
.collapsed:before {
    display: block;
    height: 14px;
    line-height: 14px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Ubuntu", "Open Sans", sans-serif, arial;
}
.expanded:before {
    content: "\25BC";
    font-size: 8px;
}
.collapsed:before {
    content: "\25B6";
    font-size: 7px;
}
.primitive-js {
    color: #c90000;
    font-weight: 600;
}
.reference-js {
    color: #c90000;
    font-weight: 600;
    font-style: italic;
}
.literal-ss {
    color: #009900;
    font-family: "Ubuntu Mono", monospace;
}
.primitive-ss {
    color: #009900;
    font-weight: 600;
}
.reference-ss {
    color: #009900;
    font-weight: 600;
    font-style: italic;
}
.is-symbolic {
    font-style: italic;
}
.methods table tr,
.expansion table tr {
    width: 100%;
    border-bottom: 1px solid #F8F8F8;
}
.methods table tr.marker-row,
.expansion table tr.marker-row,
.methods table tr.marker-row + tr,
.expansion table tr.marker-row + tr,
.methods table tr.marker-row + tr > td,
.expansion table tr.marker-row + tr > td {
    border-bottom: none;
    padding: 0;
}
.marker {
    padding: 1px 0 0;
}
.marker:before {
    content: "";
    display: block;
    height: 2px;
    background-color: #CCC;
}
.methods table tr.expansion,
.expansion table tr.expansion {
    background-color: #F8F8F8;
}
.methods table,
.expansion table {
    border-collapse: collapse;
    font-size: 13px;
    text-align: left;
}
.methods table tr:last-child,
.expansion table tr:last-child {
    /*border-bottom: 0;*/
}
.methods table thead,
.expansion table thead {
    background-color: #F8F8F8;
    font-weight: 600;
}
.methods table th,
.expansion table th {
    padding: 2px;
    font-variant: small-caps;
}
.methods table td,
.expansion table td {
    vertical-align: top;
}
.methods table td:first-of-type,
.expansion table td:first-of-type {
    padding-left: 0;
}
.methods table td:last-of-type,
.expansion table td:last-of-type {
    padding-right: 0;
}
.methods table,
.expansion table {
}
.parameter {

}
.array-items {

}
.array-item {

}
.object-properties {

}
.object-property {

}
.expansion {
    display: block;
    border: 1px solid #CCC;
    padding: 4px;
}
[show="showKey"] + [show="showValue"] > div,
[show="showName"] + [show="showValue"] > div {
    margin-top: 4px;
}