code,
kbd,
samp {
  font-family: Roboto Mono,monospace;
}

/* Reset */
[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body,
.ui-view,
.ui-view > div {
    height: 100%;
}
html {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #434A54;
}
body {
    margin: 0;
}
body:after {
    content: "";
    display: table;
    clear: both;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
}
table {
    width: 100%;
}

p + p {
    margin: 6px 0 0 0;
}


/* Loading Container */

.loading-container {
    display: table;
    width: 100%;
    height: 100%;
}
.table,
.table-cell {
    width: 100%;
    height: 100%;
}
.table {
    display: table;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/* Global */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.monospace-text {
    font-family: Roboto Mono,monospace;
}
.toggle-header {
    display: table;
    width: 100%;
    cursor: pointer;
}
.toggle-header-title,
.toggle-header-subtitle {
    display: table-cell;
}
.toggle-header-subtitle {
    text-align: right;
}
.toggle-tabs {
    list-style-type: none;
    padding: 0 0 0 5px;
    margin: 0;
    border-bottom: 1px solid #DDD;
}
.toggle-tabs:after {
    content: "";
    display: table;
    clear: both;
}
.toggle-tab {
    position: relative;
    float: left;
    padding: 5px 10px;
    margin-left: 5px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    background-color: #F8F8F8;
    border-color: #DDD;
    border-bottom-color: #FFF;
    font-size: 13px;
    font-variant: small-caps;
    cursor: pointer;
}
.toggle-tab:hover,
.toggle-tab.selected {
    background-color: #FFF;
}
.toggle-tab.selected {
    font-weight: 700;
    cursor: default;
}
.toggle-tab.selected:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #FFF;
}

/* Header */
.api-container {
    width: 100%;
    min-width: 768px;
}

/* Sidebar */
[hapi-sidebar] {
    width: 300px;  /* DEFINE initial width of sidebar */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.sidebar-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 6px;  /* DEFINE width of grip */
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #4A4A4A;
    z-index: 1;
}

/* fixes unreliable scrollbar rendering, still not on firefox */
/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
.sidebar-container::-webkit-scrollbar {
    width: 0.5em;
}

.sidebar-container::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,0.3);
}
 
.sidebar-container::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.5);
    -webkit-border-radius:0.25em;
    border-radius:0.25em;
}


.sidebar-body {
    padding: 20px;
}
.sidebar-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #D9D9D9;
}
.sidebar-body > ul > li {
    margin-bottom: 24px;
}
.sidebar-body ul ul li {
    padding-left: 12px;
    margin-bottom: 4px;
}
.sidebar-body li {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.sidebar-grip {
    position: absolute;
    background: #333;
    top: 0;
    bottom: 0;
    right: 0;
    width: 6px;  /* DEFINE width of grip */
    cursor: col-resize;
    z-index: 2;
}
.sidebar-grip-icon,
.sidebar-grip-icon:before,
.sidebar-grip-icon:after {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #FFF;
}
.sidebar-grip-icon {
    top: 50%;
    margin: -2px 2px 0;
}
.sidebar-grip-icon:before,
.sidebar-grip-icon:after {
    content: "";
    display: inline-block;
}
.sidebar-grip-icon:before {
    top: -6px;
}
.sidebar-grip-icon:after {
    bottom: -6px;
}


.menu-header1,
.menu-header2,
.menu-entry {
    cursor: pointer;
}
.menu-header1:hover,
.menu-header2:hover,
.menu-entry:hover {
    color: #FFF;
}
.menu-header1,
.menu-header2 {
    display: block; /* TODO: Remove */
}
.menu-header1 {
    margin-bottom: 8px;
    text-transform: uppercase;
}
.menu-header2 {
    margin-bottom: 4px;
    font-variant: small-caps;
}
.content {
    width: auto;
    margin-left: 300px;  /* DEFINE initial width of sidebar */
    padding: 0px 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.clickable {
    cursor: pointer;
}

/* Content Headers */
.content-header1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content-header2,
.content-header2-summary {
}
.content-header2 {
    border-bottom: 1px solid #DDD;
    padding: 4px 0;
    font-size: 20px;
}
.content-header2-summary {
    float: right;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
}
.section-container + .content-header1 {
    margin-top: 24px;
}
.content-header2 + .schema-container {
    margin-top: 8px;
}

/* Sections */
.section-container {
    margin-bottom: 12px;
}
.section-l1-body {
    margin-bottom: 8px;
}
.section-l1-label {
    margin: 8px 0 4px;
    text-transform: uppercase;
    color: #888;
}

/* Method */

.method-l1 {
    padding: 12px 4px 4px;
}
.method-l1:first-of-type {
    padding-top: 8px;
}
.method-l1-body {
    /*background-color: rgba(0, 0, 0, 0.15);*/
}
.method-l1-label {
    margin-bottom: 4px;
    text-transform: uppercase;
    color: #888;
}
.method-l2 {
    padding: 12px 0px 0px;
}
.method-l2:first-of-type {
    padding-top: 4px;
}
.method-l2-body {
    /*background-color: rgba(255, 255, 255, 0.55);*/
}
.method-l2-label {
    margin-bottom: 4px;
    text-transform: uppercase;
    color: #888;
}


.method {
    margin-top: 4px;
    border: 1px solid #888;
}
.method-header {
    background-color: #F8F8F8;
}
.method-method-location {
    display: inline-block;
    padding: 6px 4px;
    background-color: #888;
    color: #FFF;
}
.method-summary {
    padding-right: 4px;
}
.method .schema {
    margin: 0;
}

/* Method - GET */
.method-get {
    border-color: #2392F7;
}
.method-get .method-header {
    background-color: #E8F3FE;
}
.method-get .method-method-location {
    background-color: #2392F7;
}
.method-get .method-l1-label {
    color: #2392F7;
}

/* Method - DELETE */
.method-delete {
    border-color: #A41E22;
}
.method-delete .method-header {
    background-color: #F5E8E8;
}
.method-delete .method-method-location {
    background-color: #A41E22;
}
.method-delete .method-l1-label {
    color: #A41E22;
}

/* Method - POST */
.method-post {
    border-color: #10A54A;
}
.method-post .method-header {
    background-color: #E7F6EC;
}
.method-post .method-method-location {
    background-color: #10A54A;
}
.method-post .method-l1-label {
    color: #10A54A;
}

/* Method - PUT/PATCH */
.method-put,
.method-patch {
    border-color: #C5862B;
}
.method-put .method-header,
.method-patch .method-header {
    background-color: #F9F2E9;
}
.method-put .method-method-location,
.method-patch .method-method-location {
    background-color: #C5862B;
}
.method-put .method-l1-label,
.method-patch .method-l1-label {
    color: #C5862B;
}


.tab-page {
    padding: 4px;  /* DEFINE border padding */
    border: 1px solid #DDD;
    border-top-width: 0;
}



/* Request/Response */
.requests-content {
    border: 1px solid #DDD;
    padding: 4px;  /* DEFINE border padding */
}
.description {
    margin-bottom: 0;
}
.body-content-type {
    padding: 4px 0px 4px;
}
.body-content-type-value,
.body-content-type-label {
    font-family: Roboto Mono,monospace;    
}
.request + .request {
    margin-top: 24px;
}

.response-status {
    font-family: Roboto Mono,monospace;    
}

/* Parameter Table */
.examples {
    font-size: 14px;
}
.list-container:before {
    font-weight: 700;
}
.list-container li {
    word-wrap: break-word;
}
.property.criteria, .property.examples {
    display: inline-block;
    width: 50%;
}
.list-container.criteria:before {
    content: "Criteria";
}
.list-container.examples:before {
    content: "Examples";
}
.list-container {
    display: inline-block;
}
.list-container:before {
    font-weight: 400;
}
.list-container ul {
    margin: 0;
    font-size: 11px;
    padding-left: 1.5em;
}

/* Schemas */
.schema-container {
    border: 1px solid #CCC;
    margin-bottom: 4px;
    background-color: #F8F8F8;
}
.schema-container > span,
.schema-container > div {
    padding: 4px 0px;
}
.schema-container > span {
    display: inline-block;
    cursor: pointer;
}
.schema-container > div {
    background-color: #FFF;
    border-top: 1px solid #DDD;
}

.expanded {
    /*padding-bottom: 4px;*/
}
.expanded,
.collapsed {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.expanded,
.collapsed,
.not-expandable {
    padding-left: 0.65em;
}
.expanded:before,
.collapsed:before {
    position: absolute;
    content: '';
    left: 0em;
    background-size: 0.5em 0.5em;
    width: 0.5em;
    height: 1em;
    background-position: center;
    background-repeat: no-repeat;
}
.expanded:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22%3E%3Cpath fill=%22%23000000%22 d=%22M1%2C21H23L12%2C2%22 transform=%22rotate%28180%2C12%2C12%29%22/%3E%3C/svg%3E");
}
.collapsed:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22%3E%3Cpath fill=%22%23000000%22 d=%22M1%2C21H23L12%2C2%22 transform=%22rotate%2890%2C12%2C12%29%22/%3E%3C/svg%3E");
}

.literal-js,
.literal-ss {
    /*color: #003fff;*/
    color: #3f3f3f;
    font-weight: 700;
    font-family: Roboto Mono,monospace;
}

.primitive-js,
.reference-js {
    color: #c90000;
    font-weight: 700;
}

.primitive-ss,
.reference-ss {
    color: #009900;
    font-weight: 700;
}

.reference-js,
.reference-ss {
    font-style: italic;
}

.is-symbolic {
    font-style: italic;
}
table.parameters tr,
table.array-items tr,
table.object-properties tr {
    width: 100%;
    border-bottom: 1px solid #F8F8F8;
}
.marker {
    padding: 1px 0 0;
}
.marker:before {
    content: "";
    display: block;
    height: 2px;
    background-color: #CCC;
}
table.parameters tr.expansion,
table.array-items tr.expansion,
table.object-properties tr.expansion {
    background-color: #F8F8F8;
}
table.parameters,
table.array-items,
table.object-properties {
    border-collapse: collapse;
    font-size: 13px;
    text-align: left;
}
table.parameters > tbody > tr:last-child,
table.array-items > tbody > tr:last-child,
table.object-properties > tbody > tr:last-child {
    border-bottom: 2px solid #F8F8F8;
}
table.parameters > thead,
table.array-items > thead,
table.object-properties > thead {
    background-color: #F8F8F8;
    font-weight: 700;
}
table.parameters > thead > tr > th,
table.array-items > thead > tr > th,
table.object-properties > thead > tr > th {
    padding: 2px;
    font-variant: small-caps;
}
table.parameters > tbody > tr > td,
table.array-items > tbody > tr > td,
table.object-properties > tbody > tr > td {
    vertical-align: top;
    padding: 2px;
}
table.parameters td:first-of-type,
table.array-items td:first-of-type,
table.object-properties td:first-of-type {
}
table.parameters td:last-of-type,
table.array-items td:last-of-type,
table.object-properties td:last-of-type {
}
table.parameters,
table.array-items,
table.object-properties {
}
table.parameters tr.marker-row,
table.array-items tr.marker-row,
table.object-properties tr.marker-row,
table.parameters tr.marker-row + tr > td,
table.array-items tr.marker-row + tr > td,
table.object-properties tr.marker-row + tr > td,
table.parameters tr.marker-row > td,
table.array-items tr.marker-row > td,
table.object-properties tr.marker-row > td {
    border-bottom: none;
    padding: 0;
}

.details > tbody > tr > td {
    vertical-align: top;
}

.parameter {

}
.array-items {

}
.array-item {

}
.object-properties {

}
.object-property {

}
.expansion {
    display: block;
    border: 1px solid #CCC;
    /*padding: 4px 0px;*/
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.025);
    /* box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2); */
}
[show="showKey"] + [show="showValue"] > div,
[show="showName"] + [show="showValue"] > div {
    margin-top: 4px;
}
.oneof-list {
    margin: 0;
    padding-left: 2em;
}
.oneof-list > li {
    border: 1px solid #CCC;
    padding: 2px 4px;
    margin-bottom: 2px;
}
