<div ng-if="response.description">
    <div class="label method-sub-label">Description</div>
    <p class="description response-description" ng-bind-html="response.description | hapiMarkdown"></p>
</div>
<div>
    <div class="label method-sub-label">Status</div>
    <p class="description response-status">
        <span ng-bind="response.statusCode"></span>
        <span ng-bind="response.statusMessage"></span>
    </p>
</div>
<div ng-if="response.header && response.header.length">
    <div class="label method-sub-label">Header</div>
    <div hapi-parameter-list hapi-scope-model="response.header"></div>
</div>
<div hapi-body-list hapi-scope-body-list="response.body" />
