<div class="method-l2" ng-if="response.description">
    <div class="method-l2-label">Description</div>
    <div class="method-l2-body description response-description" ng-bind-html="response.description | hapiMarkdown"></div>
</div>
<div class="method-l2">
    <div class="method-l2-label">Status</div>
    <div class="method-l2-body description response-status">
        <span ng-bind="response.statusCode"></span>
        <span ng-bind="response.statusMessage"></span>
    </div>
</div>
<div class="method-l2" ng-if="response.header && response.header.length">
    <div class="method-l2-label">Header</div>
    <div class="method-l2-body" hapi-parameter-list hapi-scope-model="response.header"></div>
</div>
<div class="method-l2" hapi-body-list hapi-scope-body-list="response.body" />
